import Head from 'next/head';
import styled from 'styled-components';

import Layout from '@app/components/layout.component/layout.component';
import utilStyles from '@app/styles/utils.module.css';

const Container = styled.div``;

export default function {{pascalCase name}}() {
  return (
    <Layout>
      <Head>
        <title>{{pascalCase name}}</title>
      </Head>
      <article title="{{pascalCase name}}">
        <h1 className={utilStyles.headingXl}>{{pascalCase name}}</h1>
        <Container>{/* Components here */}</Container>
      </article>
    </Layout>
  );
}
